@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] body {
  overflow: hidden;
  color: #282828;
  font-family: Geneva, sans-serif;
  background-color: #f0f0f0;
  --background: rgb(31, 31, 31);
  --primary: rgb(82, 148, 255);
  --secondary: rgb(252, 252, 252);
  --accent: rgb(243, 243, 243);
  --tertiary: rgb(238, 238, 238);
}

body {
  overflow: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(41, 41, 41);
  color: #fff;
  --background: rgb(31, 31, 31);
  --primary: rgb(69, 98, 244);
  --secondary: rgb(57, 57, 57);
  --accent: rgb(30, 30, 30);
  --tertiary: rgb(40, 40, 40);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

.prompt {
  background-color: var(--secondary);
  box-shadow: 0 0 10px var(--accent);
}

.input {
  outline-color: var(--primary);
  color: var(--color);
  background-color: var(--tertiary);
}

.start_quizBtn {
  color: white;
  width: 100%;
  background-color: var(--primary);
}

.disabled {
  color: white;
  background-color: var(--accent);
  width: 100%;
}

/* styling of quiz page  */
.heading {
  font-size: 35px;
  font-weight: bold;
  color: var(--color);
  background-color: var(--secondary);
}

.quiz_holder > div {
  border-radius: 5px;
  background-color: var(--secondary);
  box-shadow: 0 0 5px var(--accent);
}

.options {
  background-color: var(--tertiary);
  width: 100%;
  border-radius: 5px;
}

.btn {
  background-color: var(--primary);
  color: #fff;
}

.hidden {
  display: none;
}

.result {
  color: var(--color);
}

.leaderboard,
.details {
  background-color: var(--secondary);
}

.line {
  border-color: var(--color);
}

/* .logo{
  background-image:url('../../public/Qz_dark.png');
  width: 100px;
  height: 100px;
} */

td {
  border-right-width: 1px;
  border-right-color: var(--color);
  border-right-style: solid;
}
.themeBtn {
  background: var(--tertiary);
}
.timer {
  border: 2px;
  border-style: solid;
  border-color: var(--color);
  background: var(--tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Styling for home page*/

.nav_top {
  background-color: var(--secondary);
}

.main_quiz_examples {
  background-color: var(--accent);
}
.main_quiz_examples > h3 {
  font-size: large;
}

.main_quiz_examples > p {
  font-size: small;
}

.nav_side,
.explore_quiz {
  background-color: var(--secondary);
}

.explore_quiz>div{
  background-color: var(--tertiary);
}
.nav_bottom{
  background-color: var(--secondary);
}